.contact-hro{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    img{
        height: 670px;
        width: 620px;
    }
    .contact-hro-txt{
        height: 670px;
        width: 620px;
        background-color: #DCEFF2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
        font-family: 'Playfair Display', serif;
    }
    a:hover{
        font-size: 21px;
        transition-duration: 1s;
    }
}
