<div class="about-owner-container">
    <img src="assets/Images/home-3bnr-1.jpg" alt="owner image" />
</div>
<div class="about-owner-text-1">
    <div>
        <ul>
            <li>Owner</li>
            <li>Designer</li>
            <li>Contractor</li>
        </ul>
    </div>
</div>
<div class="about-p">
    <div>
        <p>Mary Grey-Lughod started it after retiring from practicing medicine (OB/Gyn) for 21 years.  
            She was born on the west side of Grand Rapids and other than lots of world travel and college/grad school, has lived here for 50 + years.  
            Growing up here, she has witnessed first hand, how the city has changed.  The west side went from stable family neighborhoods, to low cost housing, and now is experiencing urban renewal.  
            Her Mother was always interested in the history of the city and it’s homes, and many weekends were spent touring Heritage Hill, the Meyer May house and just wandering through East Grand Rapids to look at the beautiful old homes.
        </p>
        <p>
            With each house that she remodels, her goal is to keep the design period specific, but also, to update the homes so that they are functional for the modern family.  
            She restores original details whenever possible, retaining the unique character of each home. 
            She also adds unexpected elements that make the homes uniquely eclectic. 
        </p>
    </div>
</div>