.contact-hro{
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    .image-banner{
        background-image: url('/assets/Images/about_left_banner.jpg');
        height: 670px;
        width: 548px;
    }
    .contact-hro-txt{
        height: 670px;
        width: 620px;
        background-color: #DCEFF2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
        font-family: 'Playfair Display', serif;
    }
    .about-content{
        width: 470px;
    }
  
}
// Tablet Breakpoint:
@media (min-width: 737px) and (max-width: 1024px){ 
   .contact-hro{
       flex-direction: column;
       .image-banner{
        background-image: url('/assets/Images/about_left_banner_tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
       height: 400px;
    }
       .contact-hro-txt{
           width: 100%;
           height: 100%;
       }
       .about-content{
          font-size: 20px;
          width: 80%;
       }
   }
    
}
// mobile breakpoint
@media (max-width: 736px){
    .contact-hro{
        flex-direction: column;
        .image-banner{
            background-image: url('/assets/Images/about_left_banner.jpg');
            background-size: cover;
            position: relative;
            background-position: top;
            width: auto;
            height: 400px;
        }
        .contact-hro-txt{
            height: 100%;
            width: 100%;
        }
        .about-content{
            font-size: 20px;
            width: 100%;
         }  
    }  
       
}