<a name="top"></a>
<div class="container">
    <ul>
        <li class="projects"  *ngFor="let item of portfolioList">
            <div class="details-container">
                <div>
                     <img [class.selected]="isSelected(item)" src="{{item.ImageUrl}}" alt="{{item.Item_name}}">
                </div>
                <div class="details">
                    <span class="Item_name">{{item.Item_name}}</span>
                    <div class="details-items">
                        <p>
                            Short Description:
                            <br/>
                            This is some short description for this house.
                        </p>
                        <div *ngFor="let key of getKeys(item.details)">
                            <p>{{item.details[key].bath_num}} ba</p>
                            <p>{{item.details[key].bed_num}} bed</p>
                        </div>
                    
                        <div class="Button-Class">
                                <button [class.selected]="isSelected(item)" (click)="onSelect(item)">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </li>
    </ul>
</div>
<div *ngIf="error">
        <div style="text-align: center; padding-bottom: 100px;">
                <h1 style="font-size: 200px; font-weight: 900;">400</h1>
                <p style="font-size: 20px; font-weight: 200;">400 Error, Cant connect to database...  <img style="width: 100px; height: 100px;"src="assets/Images/bird.png" alt="blackbird"></p>
            
            </div>
            <div class="Button-Class">
                <button><a routerLink='/home'>Go Back Home</a></button>
            </div>
</div>