ul{
    list-style: none;
}
img{
    width: 420px;
    height: 250px;
}

.Item_name{
    font-size: 25px;
    padding-left: 20px;
    display: inline-flex;
    align-self: flex-start;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;

}
li.projects{
    display: flex;
    flex-direction: column;
}
hr {
    border: 1px solid #2c2c2c;
    width: 100%;
}
.details-container{
    display: flex
}
.details-items{
    padding-left: 20px;

}
.Button-Class{
    text-align: center;
    padding-bottom: 20px;
}
.Button-Class button{
    width: 160px;
    height: 40px;
    background: #2c2c2c;
    border-radius: 40px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    color: white;
}
button.selected {
    background-color: #555555;
    width: 160px;
    height: 40px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    color: white;
}