<div class="slider-container">
    <div @carouselSlide class="slider-box" *ngFor="let img of portfolioList.gallery; index as i; count as num">
        <div  *ngIf="i == currentImage">
            <p class="count">{{i + 1}} / {{portfolioList.gallery.length}}</p>
            <img  @carouselSlide (click)="goToGallery()" src="{{img}}">
        </div>
    </div>
    <br/>
    <!-- <p class="details-text">[this is a description]</p> -->
    <div class="button-container">
        <button (click)="prevImage(currentImage)">&#x2190;</button>
        <button (click)="nextImage(currentImage)">&#x2192;</button>
    </div>
</div>



